<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href= "/public/assets/CSS.css" rel="stylesheet" type="text/css" />
    <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />

    <base href="http://uvas-foundation.herokuapp.com/home">
    <title>UVAS INDIA</title>
</head>

<body>
        
   <section class="first-section">
        <div class="navbar" Id="navbar">
            <span class="page-title">UVA'S FOUNDATION</span>
            <div class="nav-right">
                <button onclick='goto("#navigation-panel")'  class="donate-but"><a style="all:unset;" href="#donation-panel">Donate Us</a></button>
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction1()">&#9776;</a>
                <a href="/ourpartners">Our Partners</a>
                <a href="/ourteam">Our Team</a>
                <a href="/whatwedo">What We Do</a>
                <a href="/about-us">About us</a>
                <a href="/home">Home</a>
                
            </div>
        </div>
        <img class="uvas-logo" src="/media/assets/uvas-logo.png" alt="uvas-logo">
        <div class="center-text">THERE IN TIMES OF CRISES</div>
        
        <div class="front-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
            <a style="all:unset;" href="#donation-panel"><button class="donate-button ">Donate Us</button></a>
    </section>
    <section>
        <div class="donation-panel reveal" id="donation-panel" name="navigation-panel">
            <div class="left-donation-panel">
                <h1>
                    Make a Donation
                </h1><br>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit, sed do eiusmod tempor
                    incididunt ut labore et dolore <br>magna aliqua. Ut enim ad minim veniam
                </p>
            </div>
            <div class="donation-text">
                <h2>Please scan the QR code to Donate and make a change right now.</h2>
            </div>
            <div class="right-donation-panel">
                <img src="https://i.pinimg.com/originals/60/c1/4a/60c14a43fb4745795b3b358868517e79.png" alt="QR-code">
            </div>
        </div>
        <br>
        <br>
        <div class="problem">&nbspThe Problem&nbsp</div>
        <p class="problem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
            qui officia deserunt mollit anim id est laborum.</p>
        <br>
        <br>
        <div class="statistics reveal">
            <div class="individual-stat">
                <div class="stat-pic">
                    <img src="/media/assets/1.PNG" alt="">
                </div>
                <div class="stat-text">
                    <div class="stat-text-title">
                        Intestial Worms:
                    </div>
                    <div class="stat">
                        1.7B
                    </div>
                    <div class="stat-end-text">
                        Require Treatment
                    </div>
                </div>
            </div>
            <div class="individual-stat">
                <div class="stat-pic">
                    <img src="/media/assets/2.PNG" alt="">
                </div>
                <div class="stat-text">
                    <div class="stat-text-title">
                        Limphatic Filariasis:
                    </div>
                    <div class="stat">
                        893M
                    </div>
                    <div class="stat-end-text">
                        Require Treatment
                    </div>
                </div>
            </div>
            <div class="individual-stat">
                <div class="stat-pic">
                    <img src="/media/assets/3.PNG" alt="">
                </div>
                <div class="stat-text">
                    <div class="stat-text-title">
                        River Blindness:
                    </div>
                    <div class="stat">
                        218M
                    </div>
                    <div class="stat-end-text">
                        Require Treatment
                    </div>
                </div>
            </div>
            <div class="individual-stat">
                <div class="stat-pic">
                    <img src="/media/assets/4.PNG" alt="">
                </div>
                <div class="stat-text">
                    <div class="stat-text-title">
                        Schistosomiasis:
                    </div>
                    <div class="stat">
                        229M
                    </div>
                    <div class="stat-end-text">
                        Require Treatment
                    </div>
                </div>
            </div>
            <div class="individual-stat">
                <div class="stat-pic">
                    <img src="/media/assets/5.PNG" alt="">
                </div>
                <div class="stat-text">
                    <div class="stat-text-title">
                        Trachoma:
                    </div>
                    <div class="stat">
                        178M
                    </div>
                    <div class="stat-end-text">
                        Require Treatment
                    </div>
                </div>
            </div>
            <div class="individual-stat">
                <div class="stat-pic">
                    <img src="/media/assets/1.PNG" alt="">
                </div>
                <div class="stat-text">
                    <div class="stat-text-title">
                        Intestial Worms:
                    </div>
                    <div class="stat">
                        1.7B
                    </div>
                    <div class="stat-end-text">
                        Require Treatment
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--div >
        <button class="chat" onclick="openForm()"> Chat with us..</button>
    </div-->
    <button class="chat" id="btn" onclick="openForm()">
        <img style="height: 30px;width: 30px;" src="https://cdn.pixabay.com/photo/2014/04/03/09/57/chat-309417_1280.png">
        <span>Chat With Us</span>
      </button>
    <!--div onclick="openForm()" href="#" class="chat chat-hover-button">
        <img class="chat-icon" src="/media/assets/1.PNG" alt="">
        <span class="chat-hover-text">Chat with us</span>
      </div-->
    <div class="chat-popup" id="myForm">
        <form action="/home" class="form-container" method="POST">
            <h1>Chat Box</h1>
            <input class="info-input" type="text" placeholder="Email Id" name="user[sender]">
            <input class="info-input" type="text" placeholder="Contact Number" name="user[contact]">
            
            <textarea placeholder="Type message.." name="user[text]" required></textarea>
        
            <button type="submit" class="btn">Send</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            
        </form>
      </div>



    <section>
        <div class="yoo">
            <hr class="new2">
            <h1 class="hd">OUR VISION</h1>
            <p class="pp">To ensure people at risk of neglected tropical diseases can live healthy and prosperous lives.
            </p>
        </div>
        <hr class="new2">
        <h1 class="hd">OUR IMPACT</h1>

        <section class="s2">
            <div class="main-container">
                <h4 data-aos="zoom-in" data-aos-duration="1700" style="text-align: center;"></h4><br>
                <div data-aos="zoom-in" data-aos-duration="1500" class="post-wrapper">
                    <div >

                        <img class="thumbnaill" src="/media/assets/uv1.jpg">
                        <div class="post-preview2">
                            <h1 class="post-title2"><b>92M</b></h1>
                            <p class="post-intro2"> PEOPLE TREATED IN 2020
                            </p>

                        </div>
                    </div>

                    <div >
                        <img class="thumbnaill" src="/media/assets/uv2.jpg">
                        <div class="post-preview2">
                            <h1 class="post-title2"><b>1.07B</b></h1>
                            <p class="post-intro2"> NUMBER OF TREATMENT FROM 2012-2020
                            </p>

                        </div>
                    </div>

                    <div >
                        <img class="thumbnaill" src="/media/assets/uv3.jpg">
                        <div class="post-preview2">
                            <h1 class="post-title2"><b>$1.36B</b></h1>
                            <p class="post-intro2"> VALUE OF TREATMENT FROM 2012-2020
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </section>

    </section>









    <section class="s1">
        <div class="main-container">
             <h4 data-aos="zoom-in" data-aos-duration="1700" style="text-align: center;"></h4><br>
            <div data-aos="zoom-in" data-aos-duration="1500" class="post-wrapper">
                <div class="post1">

                    <!-- <img class="thumbnail" src="uvas11.jpg"> -->
                    <div class="post-preview">
                        <h1 class="post-title1"><b>WHY WOMEN'S RIGHTS?</b></h1>
                        <p class="post-intro1"> In publishing and graphic design, Lorem ipsum is a placeholder text
                            commonly used to demonstrate the visual form of a document or a typeface without relyingIn
                            publishing and graphic design, Lorem ipsum is a placeholder text commonly used to
                            demonstrate the visual form of a document or a typeface without relying
                        </p>
                        <a href="#" class="button">Link Button</a>
                    </div>
                </div>

                <div class="post">
                    <!-- <img class="thumbnail" src="uvas11.jpg"> -->
                    <div class="post-preview">
                        <h1 class="post-title"><b>CAMPAIGN WITH US</b></h1>
                        <p class="post-intro"> In publishing and graphic design, Lorem ipsum is a placeholder text
                            commonly used to demonstrate the visual form of a document or a typeface without relying
                        </p>
                        <br>
                        <br>
                        <br>
                        <a href="#" class="button">Link Button</a>
                    </div>
                </div>

                <div class="post">
                    <div class="post-preview">
                        <h1 class="post-title"><b>HELP IN EMERGENCIES</b></h1>
                        <p class="post-intro"> In publishing and graphic design, Lorem ipsum is a placeholder text
                            commonly used to demonstrate the visual form of a document or a typeface without relying
                        </p>
                        <br>
                        <br>
                        <br>
                        <a href="#" class="button">Link Button</a>
                    </div>
                </div>
            </div>
        </div>

    </section>





    <section>

        <footer class="footer-distributed">

            <div class="footer-left">

            
                
                 <p class="footer-links">
                    <a href="#" class="link-1">Home</a>

                    <a href="#">About us</a>

                    <a href="#">What We Do</a>

                    <a href="#">Our Team</a>



                    <a href="#">Our Partners</a>
                </p>

                <p class="footer-company-name">UVAS Foundation © 2022</p>
                <a href="#" class="button2">DONATE</a>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Plot No 16 K.H. No. 22/14/2 & 17 PochanPur Extension</span> SR Enclave, Najafgarh</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>+91 87009 70198</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@company.com">indiauvas@gmail.com</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>About the company</span>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor
                    lacus vehicula sit amet.
                </p>

                <div class="footer-icons">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>

            </div>

        </footer>


    </section>

    <script>
       // window.onscroll = function () { myFunction() };

        //var navbar = document.getElementById("navbar");
        
      //  var sticky = navbar.offsetTop;
         
        //function myFunction() {
         //   if (window.pageYOffset >= sticky) {
          //      navbar.classList.add("sticky")
           // } else {
            //    navbar.classList.remove("sticky");
           // }
       // }
        function myFunction1() {
          var x = document.getElementById("navbar");
          if (x.className === "navbar" || x.className ==="navbar sticky") {
            navbar.classList.add("responsive")
          } else {
            navbar.classList.remove("responsive");
          }
        //function DonateNav(){
        //    window.navigator = '.donation-panel'; 
        //}
        }
        function openForm() {
            document.getElementById("myForm").style.display = "block";
            }

            function closeForm() {
            document.getElementById("myForm").style.display = "none";
            }
    </script>
    <script type="text/javascript">
        window.addEventListener('scroll', reveal);

        function reveal() {
            var reveals = document.querySelectorAll('.reveal');

            for (var i = 0; i < reveals.length; i++) {

                var windowheight = window.innerHeight;
                var revealtop = reveals[i].getBoundingClientRect().top;
                var revealpoint = 100;

                if (revealtop < (windowheight - revealpoint)) {
                    reveals[i].classList.add('active');

                }
                else {
                    reveals[i].classList.remove('active');

                }
            }
        }

        

    </script>



 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script> 
</body>

</html>
