@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  overflow-x:hidden;
}
/*top nav*/
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}

/* top navbar*/
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 20px 10px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {/*//////////////////////////////////////////////*/
 
  width: 77px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
  
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.banner{
 background-color: rgb(196, 43, 43);
  height: 100px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
 
  
}
.icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
  }
/* our partneer*/
/*
.title{
 
  font-weight: 200;
  text-align: center;
    text-align: left;
    line-height: 1em;
    font-size: 62px;
     margin-top: 3%;
     margin-left: 10%;
   
}
.title1{
  
  font-weight: 200;
  text-align: center;
    text-align: left;
    line-height: 1em;
    font-size: 62px;
    margin-left: 10%;
}
*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	/* Base font size */
	font-size: 12px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
	padding: 1.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem -1rem;
}

.gallery-item {
	flex: 1 0 10rem;
	margin: 1.5rem;
	/*box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);*/
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
  border-radius: 50%;
}

.gallery-image:hover {
	transform: scale(1.1);
}


@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
		grid-gap: 3rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}



/* bottom nav bar*/
.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
  width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
 
  margin: 0;
  }
  
  .footer-distributed h3 span{
  color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  }
  
  .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  }
  .button2{
 background-color: orangered;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
  width: 35%;
  }
  
  .footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
  }
  
  .footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
  }
  
  .footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
  }
  
  .footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
  content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
  width: 20%;
  }
  
  .footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
  margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  
  margin-right: 3px;
  margin-bottom: 5px;
  }


  /*media query*/
  
@media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
  }
  @media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
    
  }
  @media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
  }
  
@media (max-width: 868px) { /* 868*/
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: #222;
      transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
      left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }
    #backgroundimage {
      background-image: url("uvas3.jpg");
      width: 100%;
      height: 300px; 
  }
  }

  @media (max-width: 480px) {
    .navbar .logo {
      font-size: 27px;
  
    }
    body{
      overflow-x: hidden;
    }
  }
  /*bottom*/
  @media (max-width: 880px) {

    .footer-distributed{
      font: bold 14px sans-serif;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  }  
  
